.login-container {
    background-image: url('./Images/barco.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 150px;
    left: 35%;
    background: #FFF7;
    border-radius: 30px;
    gap: 20px;
}
