/* Botão de Enviar */
.button {
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: #000;
    font-weight: 600;
    font-family: sans-serif;
    background-color: #a7dbede8;
    box-shadow: 6px 3px 6px #40859fc4;
    margin-top: 22px;
}

.button:hover {
    cursor: pointer;
    background-color: #bff5d6b3;
    box-shadow: 6px 3px 6px #7ac9add9;
}

.button.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.button.enabled {
    pointer-events: all;
    opacity: 1;
}


/* Botão de marca ponto */
.container-buttom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;

}

.buttom-ponto{
    border: none;
    border-radius: 50%;
    width: 5%;
    height: 10%;
    background-color: #d4d78e;
    color: white;
    font-size: 15px;
    font-weight: 700;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttom-ponto:hover{
    cursor: pointer;
    background-color:  #dbdf90;;
}
