/* Botão de Enviar */
.button {
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: #000;
    font-weight: 600;
    font-family: sans-serif;
    background-color: #a7dbede8;
    box-shadow: 6px 3px 6px #40859fc4;
    margin-top: 22px;
}

.button:hover {
    cursor: pointer;
    background-color: #bff5d6b3;
    box-shadow: 6px 3px 6px #7ac9add9;
}

.button.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.button.enabled {
    pointer-events: all;
    opacity: 1;
}


/* Botão de marca ponto */
.container-buttom{
    position: absolute;
    top: 47%;
    left: 26%;
}

.buttom-ponto{
    border: none;
    border-radius: 50%;
    width: 5%;
    height: 10%;
    background-color: #d4d78e;
    color: white;
    font-size: 15px;
    font-weight: 700;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttom-ponto:hover{
    cursor: pointer;
    background-color:  #dbdf90;;
}

.buttom-cadastro {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #428f18;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
}

.buttom-cadastro:hover {
    background-color: #428f1855;
}