
.container-buttom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttom-ponto{
    border: none;
    border-radius: 50%;
    width: 5%;
    height: 10%;
    background-color: #d4d78e;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.buttom-ponto:hover{
    cursor: pointer;
    background-color:  #dbdf90;;
}

